body{
    background-color: #ffe4e2;
}

h1{
    background-color: #b6110e;
    padding: 20px;
    text-align: center;
    margin: 10px 10px 50px 10px;
    color: white;
}

.home{
    text-decoration: none;
}
.sidebar{
    height: 450px;
    width: 0px;
    background: white;
    margin-left: 500px;
    
    position: relative;
    
}
.recipes{
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    top: 50%;
    margin-top: -160px;
    background-color: rgba(27, 27, 27, 0.50);
    
}

.recipe1 img{
    background-color: #ffcb76;
    padding: 10px;
    max-width: 100px;
    
}

.recipe2 img{
    background-color: #ffcb76;
    padding: 10px;
    max-width: 100px;
    
}

.recipe3 img{
    background-color: #ffcb76;
    padding: 10px;
    max-width: 100px;
    
}

.recipe1 img:hover {
    background-color: #ff6501;
}

.recipe2 img:hover{
    background-color: #ff6501;

}

.recipe3 img:hover{
    background-color: #ff6501;

}


.maincontent{
    border: 1px solid black;
    background: #ffcb76;
    display: flex;
    width: 500px;
    height: 500px;
    background-size: contain;
    float:left;
    position: inherit;
    margin-left: 750px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
} 


.texto{
    flex: 0 0 400px;
    font-size: 48px;
    
}

footer{
    display: flex;
    clear: both;
    background-color: #b6110e;
    position: absolute;
    bottom:0;
    width: 99%;
    height:70px;   /* Height of the footer */
    text-align: center;
    align-items: center;
    justify-content: center;

}

footer img{
    
    flex: 0 0 60px;
    width: 55px;
    height: 55px;
}

footer p{
    color: white;
    font-size: 24px;
    float: left;
    margin-right: 25px;
    margin-top: 25px;
}

footer img{
    float: left;
}

