body{
    background-color: #ffe4e2;
}

h1{
    background-color: #b6110e;
    padding: 20px;
    text-align: center;
    margin: 10px 10px 50px 10px;
    color: white;
}

.sidebar{
    height: 450px;
    width: 0px;
    background: white;
    margin-left: 10px;
    position: relative;
    
}
.recipes{
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    top: 50%;
    margin-top: -185px;
    background-color: rgba(27, 27, 27, 0.50);
    float: left;
    
}

.recipe1 img{
    background-color: #ffcb76;
    padding: 10px;
    max-width: 100px;
    
}

.recipe2 img{
    background-color: #ffcb76;
    padding: 10px;
    max-width: 100px;
    
}

.recipe3 img{
    background-color: #ffcb76;
    padding: 10px;
    max-width: 100px;
    
}

.recipe1 img:hover{
    background-color: #ff6501;
    

}

.recipe2 img:hover{
    background-color: #ff6501;

}

.recipe3 img:hover{
    background-color: #ff6501;

}


.maincontent{
    background: url(../source/primerib.jpg);
    width: 500px;
    height: 500px;
    background-size: contain;
    
    margin-left: 50px;
} 


.maincontent:hover{
    background: white;
}

footer{
    clear: both;
    background-color: whitesmoke;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    align-content: center;

}

footer p{
    float: left;
    margin-right: 25px;
}

footer img{
    float: left;
}